{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="SharedResources">

		<v:asset.style name="normalize" path="EXT:theme_minimalistic/Resources/Public/css/normalize.css"/>
		<v:asset.style name="main" dependencies="normalize" path="EXT:theme_minimalistic/Resources/Public/css/main.css"/>

		<v:asset.script name="jquery"
		                path="EXT:theme_minimalistic/Resources/Public/js/vendor/jquery-1.9.1.min.js"/>
		<v:asset.script name="modernizr" dependencies="jquery"
		                path="EXT:theme_minimalistic/Resources/Public/js/vendor/modernizr-2.6.2.min.js"/>
		<v:asset.script name="plugin" dependencies="jquery" path="EXT:theme_minimalistic/Resources/Public/js/plugins.js"/>
		<v:asset.script name="main" dependencies="jquery" path="EXT:theme_minimalistic/Resources/Public/js/main.js"/>
	</f:section>

</div>
